<h2>List of ratings</h2>
<p> Number of ratings: <%= @ratings.count %> </p>
<ul>
 <% @ratings.each do |rating| %>
    <li> <%= rating %> <%= link_to current_user.username, users_path(current_user) %></li>
 <% end %>
 
</ul>
 <%=link_to 'New Rating', new_rating_path %>